@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Carter+One&family=Caveat&family=Lemonada:wght@300;400;500;600;700&family=Lobster&family=Rancho&display=swap');*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(43, 43, 43);
}

/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	margin-right: 15px;
	font-family: 'Carter One', cursive;

}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 15px;
	text-decoration: none;
	font-size: 17px;
	border-bottom: 3px solid transparent;
}

.topnav a:hover {
	border-bottom: 3px solid rgb(255, 241, 41);
}

/* Home page */
.container{
	position: absolute;
	top: 10px;
	left: 10px;
}

#rec1{
	background-color:  rgb(255, 241, 41);
}

.images{
	height: 350px;
	width: 550px;
	display: grid;
	grid-template-rows: 3fr 3fr 3fr 3fr;
	grid-template-columns: 4fr 4fr 4fr;
	grid-template-areas: 
	"image1 image2 image4"
	"image1 image2 image5"
	"image1 image3 image5"
	"image1 image3 image5";
	position: absolute;
}

#image1 {
	background-image: url("images/82E05BA0-26F6-456A-8D17-2AB4F2267588.jpg");
	background-position: center;
	background-size: cover;
	grid-area: image1;
}

#image2{
	background-image: url("images/59DD8667-A97D-4338-A549-182BBA113C10.jpg");
	background-position: center;
	background-size: cover;
	grid-area: image2;
}

#image3{
	background-color: skyblue;
	grid-area: image3;
}

#image4{
	background-color: springgreen;
	grid-area: image4;
}

#image5{
	background-color: wheat;
	grid-area: image5;
}

.context{
	border-style: hidden;
	color: black;
	height: 270px;
	width: 430px;
	background-color: white;
	position: absolute;
	transform: translate(93%, 83%);
	padding: 10px;
}

#title{
	font-family: 'Rancho', cursive;
	font-size: 40px;
	padding-bottom: 5px;
}
#intro{
	font-family: 'Caveat', cursive; 
	font-size: 17px;
}

.rec1{
	border-style: hidden;
	background-color: yellow;
	position: absolute;
	width: 430px;
	height: 280px;
	transform: translate(90%, 75%);
}

img{
	border: 2px solid #ddd;
	border-radius: 10px;
	padding: 5px;
	width: 200px;
}

#image6{
	transform: translate(3600%, 400%);
}

#image7{
	transform: translate(4300%, 750%);
}

#image8{
	transform: translate(3300%, 1100%);
}


/* CV Page */
#list{
	border-style: hidden;
	background-color: rgb(58, 56, 56);
	position: absolute;
	border-radius: 15px;
	width: 100px;
	height: 270px;
	transform: translate(120%, 25%); 
	z-index: 3;
}

#rec2{
	border-style: hidden;
	background-color: rgb(24, 23, 23);
	position: absolute;
	border-radius: 3.5px;
	width: 440px;
	height: 540px;
	transform: translate(45%, 3%);
}

.input{
	border-style: hidden;
	background-color: rgb(53, 50, 50);
	position: absolute;
	border-radius: 3.5px;
	width: 430px;
	height: 540px;
	transform: translate(55%, 7%);
	z-index: 2;
}

#image9{
	background-color: darkseagreen;
	border-radius: 3.5px;
	width: 430px;
	height: 360px;
	grid-area: image9;
}

#name{
	color: rgb(218, 187, 17);
	font-family: 'Bubblegum Sans', cursive;
	grid-area: name;
	display: flex;
	justify-content: center;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 2fr;
	grid-template-areas: 
	"n1"
	"n2";
}

#n1{
	grid-area: n1;
}

#n2{
	grid-area: n2;
}

.right{
	border-style: hidden;
	background-color: rgb(58, 56, 56);
	position: absolute;
	border-radius: 3.5px;
	width: 850px;
	height: 510px;
	transform: translate(78%, 10%);
}


